<a href="https://colab.research.google.com/github/PrachiKumar298/MLLab/blob/main/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
print("Google Drive mounted successfully!")

Mounted at /content/drive
Google Drive mounted successfully!

In [ ]:
import pandas as pd
import numpy as np
file_path = '/content/drive/My Drive/Iris.csv'
df= pd.read_csv(file_path)

print(df.head())
print('-----------------------------------------------------------')

print(df.info())
print('-----------------------------------------------------------')

print(df.columns)
print('-----------------------------------------------------------')

print(df.shape)
print('-----------------------------------------------------------')

print(df.dtypes)
print('-----------------------------------------------------------')

print(df.info)
print('-----------------------------------------------------------')

sept_len=df['SepalLengthCm']
print(sept_len.head())
print('-----------------------------------------------------------')

print(df.tail())
print('-----------------------------------------------------------')

subset=df[['SepalLengthCm', 'SepalWidthCm', 'Species']]
print(subset.head())
print('-----------------------------------------------------------')

print(df.loc[0])
print(df.loc[[0,99,149]])
print('-----------------------------------------------------------')

print(df.iloc[1])
print(df.iloc[-1])
print('-----------------------------------------------------------')

print(df.loc[:,['SepalLengthCm', 'SepalWidthCm', 'Species']])
print('-----------------------------------------------------------')

subset=df.iloc[:,[0,1,2,3,4]]
print(subset.head())
print('-----------------------------------------------------------')

range1=list(range(6))
subset=df.iloc[:,range1]
print(df.loc[99,'SepalLengthCm'])
print('-----------------------------------------------------------')

print(df.iloc[[0,99,149],[0,3,5]])
print('-----------------------------------------------------------')

print(df.isnull().count())
print('-----------------------------------------------------------')

print(df.notnull().sum)
print('-----------------------------------------------------------')

df.loc[10:15,"SepalLengthCm"]=np.nan
df.loc[20:25,"SeaplWidthCm"]=np.nan
print(df.isnull().count())
print(df.notnull().sum())
print('-----------------------------------------------------------')

df["SepalLengthCm"].fillna(df["SepalLengthCm"].mean(),inplace=True)
df["SepalWidthCm"].fillna(df["SepalWidthCm"].median(),inplace=True)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None
-----------------------------------------------------------
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')
-----------------------------------------------------------
(150, 6)
-----------------------------------------------------------
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object
-----------------------------------------------------------
<bound method DataFrame.info of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>
-----------------------------------------------------------
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: SepalLengthCm, dtype: float64
-----------------------------------------------------------
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
-----------------------------------------------------------
   SepalLengthCm  SepalWidthCm      Species
0            5.1           3.5  Iris-setosa
1            4.9           3.0  Iris-setosa
2            4.7           3.2  Iris-setosa
3            4.6           3.1  Iris-setosa
4            5.0           3.6  Iris-setosa
-----------------------------------------------------------
Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
99   100            5.7           2.8            4.1           1.3
149  150            5.9           3.0            5.1           1.8

             Species
0        Iris-setosa
99   Iris-versicolor
149   Iris-virginica
-----------------------------------------------------------
Id                         2
SepalLengthCm            4.9
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object
Id                          150
SepalLengthCm               5.9
SepalWidthCm                3.0
PetalLengthCm               5.1
PetalWidthCm                1.8
Species          Iris-virginica
Name: 149, dtype: object
-----------------------------------------------------------
     SepalLengthCm  SepalWidthCm         Species
0              5.1           3.5     Iris-setosa
1              4.9           3.0     Iris-setosa
2              4.7           3.2     Iris-setosa
3              4.6           3.1     Iris-setosa
4              5.0           3.6     Iris-setosa
..             ...           ...             ...
145            6.7           3.0  Iris-virginica
146            6.3           2.5  Iris-virginica
147            6.5           3.0  Iris-virginica
148            6.2           3.4  Iris-virginica
149            5.9           3.0  Iris-virginica

[150 rows x 3 columns]
-----------------------------------------------------------
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2
-----------------------------------------------------------
5.7
-----------------------------------------------------------
      Id  PetalLengthCm          Species
0      1            1.4      Iris-setosa
99   100            4.1  Iris-versicolor
149  150            5.1   Iris-virginica
-----------------------------------------------------------
Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64
-----------------------------------------------------------
<bound method DataFrame.sum of        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    True           True          True           True          True     True
1    True           True          True           True          True     True
2    True           True          True           True          True     True
3    True           True          True           True          True     True
4    True           True          True           True          True     True
..    ...            ...           ...            ...           ...      ...
145  True           True          True           True          True     True
146  True           True          True           True          True     True
147  True           True          True           True          True     True
148  True           True          True           True          True     True
149  True           True          True           True          True     True

[150 rows x 6 columns]>
-----------------------------------------------------------
Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
SeaplWidthCm     150
dtype: int64
Id               150
SepalLengthCm    144
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
SeaplWidthCm       0
dtype: int64
-----------------------------------------------------------

/tmp/ipython-input-2340716994.py:70: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["SepalLengthCm"].fillna(df["SepalLengthCm"].mean(),inplace=True)
/tmp/ipython-input-2340716994.py:71: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["SepalWidthCm"].fillna(df["SepalWidthCm"].median(),inplace=True)